################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscoverSpot/.vs/DiscoverSpot/FileContentIndex/042b4453-eddc-4a8a-8bf0-b1311de08837.vsidx
/DiscoverSpot/.vs/DiscoverSpot/FileContentIndex/04525198-0d0b-4a49-8848-e06283f0eac6.vsidx
/DiscoverSpot/.vs/DiscoverSpot/FileContentIndex/11d19ace-325a-4861-8cea-16d47d9a654c.vsidx
/DiscoverSpot/.vs/DiscoverSpot/FileContentIndex/8b7d8ab6-470b-4031-a0ff-55c777d8d19b.vsidx
